<div class="row">
    <div class="col-sm-10 center-block">
        <div class="row">
            <div class="col-sm-3 col-xs-5">
                <span style="text-align:center; font-size: 30px;">Projects</span>
            </div>
            <div class="col-sm-5 hidden-xs">                    
                <div class= "input-group">
                    <span class="input-group-addon">Search:</span>
                    <input type="text" class="form-control" placeholder="What are you search?" ng-model="search">
                </div>
            </div>
            <div class="col-sm-2 col-xs-7">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal">Add project</button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">                              
                                <div class="modal-body">                                
                                    <div class="form-group">                                        
                                        <input type="text" class="form-control" ng-model="Name" placeholder="Name">
                                        <input type="text" class="form-control" ng-model="Comment" placeholder="Comment">                                        
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <button ng-click="add()" type="button" class="btn btn-primary btn-default" data-dismiss="modal">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive col-sm-10 center-block col-xs-12">
    <table class="table table-hover">
        <thead>
            <tr>
                <th ng-repeat="naglowek in [ 'Name', 'Comment', 'Delete' ]">{{naglowek}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="project in projects | filter : search">                                
                <td>{{project.Name}}</td>
                <td>{{project.Comment}}</td>                
                <td><button ng-click="delete(project.Id)" class="btn btn-danger btn-xs">&times;</td>
            </tr>
        </tbody>
    </table>
</div>