.center-block{
        float: none;
    }
    .btn-primary{
        background-color: #ff6c00;
        border-color: #ee5b00;
    }
    .btn-primary:hover{
        background-color: #ee5b00;
        border-color: #ee5b00;
    }
    .btn-primary:click{
        background-color: #ee5b00;
        border-color: #ee5b00;
    }
    
.border-container{
    border: 1px solid #D3D3D3;
    margin-bottom: 5px;
    padding: 5px;
}