<div class="row">
    <div class="col-sm-10 center-block">
        <div class="row">
            <div class="col-sm-3 col-xs-5">
                <span style="text-align:center; font-size: 30px;">Management</span>
            </div>
            <div class="col-sm-5 hidden-xs">
                <div class="input-group">
                    <span class="input-group-addon">Search:</span>
                    <input type="text" class="form-control" placeholder="What are you search?" ng-model="search">
                </div>
            </div>
            <div class="table-responsive col-sm-10 center-block col-xs-12">
                <form>
                    <div class="col-xs-3">
                    <label for="projectSelect">Select project"</label>
                    <select name="projectSelect" id="projectSelect" ng-model="projects.model">
                        <option ng-repeat="project in projects" value="{{project.Id}}">{{project.Name}}</option> <!-- not selected / blank option -->
                    </select><br>
                    </div>
                <div class="col-xs-3">
                    <label for="employeeSelect"> Select free employees: </label><br>
                    <select name="employeeSelect" id="employeeSelect" ng-model="employees.model" multiple>
                        <option ng-repeat="employee in employees"value="employee.Id" ng-click="infoEmployee(employee)">{{employee.Name}} {{employee.Surname}}</option>
                    </select><br>
                </div>
                <div class="col-xs-6">
                <label>Info:</label>
                    Name: {{infoAboutEmployee.Name}}
                    Surname: {{infoAboutEmployee.Surname}}
                    Platfom: {{infoAboutEmployee.Platform}}
                    Position: {{infoAboutEmployee.Position}}
                    FTE: {{infoAboutEmployee.FTE}}
                </div>
                </form>
            </div>

        </div>
    </div>
</div>