<div class="row">
    <div class="col-sm-10 center-block">
        <div class="row">
            <div class="col-sm-3 col-xs-5">
                <span style="text-align:center; font-size: 30px;">Management</span>
            </div>
            <div class="col-sm-5 hidden-xs">                    
                <div class= "input-group">
                    <span class="input-group-addon">Search:</span>
                    <input type="text" class="form-control" placeholder="What are you search?" ng-model="search">
                </div>
            </div>
            <!--<div class="col-sm-2 col-xs-7">-->
                <!-- Button trigger modal -->
                <!--<button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal">Add record</button>-->

                    <!-- Modal -->
                    <!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">                              
                                <div class="modal-body">                                
                                    <div class="form-group">                                        
                                        <input type="text" class="form-control" ng-model="UserName" placeholder="User Name">
                                        <input type="text" class="form-control" ng-model="Name" placeholder="Name">
                                        <input type="text" class="form-control" ng-model="Surname" placeholder="Surname">
                                        <input type="email" class="form-control" ng-model="Email" placeholder="Email">
                                        <input type="password" class="form-control" ng-model="Password" placeholder="Password">
                                        <input type="password" class="form-control" ng-model="ConfirmPassword" placeholder="Confirm Password">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <button ng-click="add()" type="button" class="btn btn-primary btn-default" data-dismiss="modal">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>-->
            </div>
        </div>
    </div>
</div>
<div class="table-responsive col-sm-10 center-block col-xs-12">
    <table class="table table-hover">
        <thead>
            <tr>
                <th ng-repeat="naglowek in [ 'Name','Surname','Position','From', 'To', 'Project Name', 'Delete' ]">{{naglowek}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>                                
                <td>Bartosz</td>
                <td>Urbański</td>
                <td>Pro</td>
                <td>02.06.2017</td>
                <td>10.09.2017</td>
                <td>SIS</td>
                <td><button class="btn btn-danger btn-xs">&times;</td>
            </tr>
            <tr>                                
                <td>Sławomir</td>
                <td>Gołąbek</td>
                <td>Senior</td>
                <td>10.05.2017</td>
                <td>30.07.2017</td>
                <td>Resource</td>
                <td><button class="btn btn-danger btn-xs">&times;</td>
            </tr>
        </tbody>
    </table>
</div>