<div class="row">
    <div class="col-sm-10 center-block">
        <div class="row">
            <div class="col-sm-3 col-xs-5">
                <span style="text-align:center; font-size: 30px;">Management</span>
            </div>
            <div class="table-responsive col-sm-12 center-block col-xs-12">
                <form validate>
                    <div class="col-sm-6">
                        <h4>Project timesheet</h4>
                        <table class="table table-hover">
                            <tbody>
                                <tr ng-repeat="projectInfo in projectsInfo">
                                    <td ng-repeat="employee in employees | filter: projectInfo.EmployeeId">
                                        {{employee.Name}} {{employee.Surname}}
                                    </td>
                                    <td>
                                        {{projectInfo.SinceWhen | date:'yyyy-MM-dd'}}
                                    </td>
                                    <td>
                                        {{projectInfo.UntilWhen | date:'yyyy-MM-dd'}}
                                    </td>
                                    <td>
                                        <button class="button btn-danger btn-xs" ng-click="deleteFromProject(projectInfo.Id)">Remove</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h4>Select project</h4>
                        <div class="input-group">
                            <span class="input-group-addon">Search project:</span>
                            <input type="text" class="form-control" placeholder="What are you search?" ng-model="searchProject">
                        </div>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th ng-repeat="naglowek in [ 'Name', 'Comment' ]">{{naglowek}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="project in projects | filter : searchProject">
                                    <td>{{project.Name}}</td>
                                    <td>{{project.Comment}}</td>
                                    <td><input type="radio" ng-click="infoProject(project.Id)"
                                            name="selectProject" ng-required="!projectForEmployee.IdProject">
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-6">
                        <h4>Select employee</h4>
                        <div class="input-group">
                            <span class="input-group-addon">Search employee:</span>
                            <input type="text" class="form-control" placeholder="What are you search?" ng-model="searchEmployee">
                        </div>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th ng-repeat="naglowek in [ 'Name','Surname','Position','FTE' ]">{{naglowek}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="employee in employees | filter : searchEmployee">
                                    <td>{{employee.Name}}</td>
                                    <td>{{employee.Surname}}</td>
                                    <td>{{employee.Position}}</td>
                                    <td>{{employee.FTE}}</td>
                                    <td>
                                        <button class="btn btn-info btn-xs" value="{{employee.Id}}" ng-click="infoEmployee(employee.Id)"
                                            data-toggle="modal" data-target="#myModal">Add to project</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <p ng-repeat="employee in employees | filter : employeeId">
                                        Timesheet of {{employee.Name}} {{employee.Surname}}
                                    </p>
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr ng-repeat="employeeProject in employeeProjects">
                                                <td ng-repeat="project in projects | filter : {Id: employeeProject.ProjectId}">
                                                    {{project.Name}}
                                                </td>
                                                <td>
                                                    {{employeeProject.SinceWhen | date:'yyyy-MM-dd'}}
                                                </td>
                                                <td>
                                                    {{employeeProject.UntilWhen | date:'yyyy-MM-dd'}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="SinceWhen" placeholder="Since when? Date format: yyyy.MM.dd">
                                    <input type="text" class="form-control" ng-model="UntilWhen" placeholder="Until when? Date format: yyyy.MM.dd">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <button ng-click="addToProject()" type="submit" class="btn btn-primary btn-default" data-dismiss="modal">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>